.hn-app-root {
  margin: 20px auto;
  width: 85%;
}

.hn-app-header {
  background-color: rgb(255, 102, 0);
  padding: 5px;
  color: #000;
}

.hn-app-title {
  font-weight: bold;
  padding-left: 0;
}

.hn-app-header a {
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}

.hn-app-body {
  padding: 10px;
  background-color: rgb(200, 200, 200);
}
